In [26]:
filepath='DataFiles/income.csv'
import pandas as pd
def readcsvdata(filepath):
    return pd.read_csv(filepath)
incomedf=readcsvdata(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [28]:
#Function to print average income of all states from 2005 to 2013
def avgofallstatesincome(df):
    sum=0
    count=0
    for i in range(len(df.values)):
        
        for j in range(2,len(df.columns)):
            sum+=df.values[i][j]
            count+=1
    avg=sum//count
    print("average income of "+df.values[i][1]+":",avg)
    return
avgofallstatesincome(incomedf)

average income of California: 48525

In [29]:
# State with highest average income in the last three years
def highestavgincomestate(df):
    
    average=0
    for i in range(len(df.values)):
        sum=0
        for j in range(8,11):
            sum+=df.values[i][j]
        avg=sum//3
        print(avg)
        if avg>average:
            average=avg
            row=i
    print(df.values[row][1])
    return
highestavgincomestate(incomedf)

42478
60738
48755
40079
55971
Alaska

In [9]:

def getColumnIndex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex

In [30]:
# Function to print state with lowest average income from 2007 to 2010(inclusive)
def lowestavgincomerangestate(df,sy,ey):
    si=getColumnIndex(df,sy)
    ei=getColumnIndex(df,ey)
    li={}
    for row in df.values:
        sum=0
        count=0
        for i in range(si,ei+1):
            sum+=row[i]
            count+=1
        li[row[1]]=sum//count
    print(li)
    low=min(li.values())
    for i in li.items():
        if i[1]==low:
            print("state with lowest average income from", sy,"to",ey,":",i[0])
    return
lowestavgincomerangestate(incomedf,'2007','2010')

{'Alabama': 41900, 'Alaska': 61608, 'Arizona': 46691, 'Arkansas': 38876, 'California': 55791}
state with lowest average income from 2007 to 2010 : Arkansas

In [31]:
# Print the list of all states in the same line with average income less than California
def StatesWithAvgIncomeLessthanCalfornia(df):
    li={}
    for i in range(len(df.values)):
        sum=0
        count=0
        for j in range(2,len(df.columns)):
            sum+=df.values[i][j]
            count+=1
        avg=sum/count
        li[df.values[i][1]]=avg
    calfornia_avg=li["California"]
    for item in li.items():
        if item[1]<calfornia_avg:
            print(item[0],end=" ")
    return
StatesWithAvgIncomeLessthanCalfornia(incomedf)

Alabama Arizona Arkansas

In [32]:
# Function to Print the names of states based on descending order of income in the year 2009
def descendingStates2009(df):
    key=getColumnIndex(df,"2009")
    li={}
    for i in df.values:
        li[i[1]]=i[key]
    val=sorted(li.values(),reverse=True)
    for i in val:
        for item in li.items():
            if item[1]==i:
                print(item[0])
    return
descendingStates2009(incomedf)

Alaska
California
Arizona
Alabama
Arkansas

In [18]:
def getRowIndex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    return rowindex

In [22]:
# Function to print the State with the lowest recorded income from 2005 to 2013
def LowIncomeStateInRange(df):
    li=[]
    for row in df.values:
        for j in range(2,11):
            li.append(row[j])
    
    minincome=min(li)
    for row in df.values:
        for j in range(2,11):
            if minincome==row[j]:
                print(row[1])
    return

LowIncomeStateInRange(incomedf)

Arkansas