In [1]:
name="Python Programming"
name[0]

'P'

In [2]:
name[len(name)-1]

'g'

strings are immutable -we can not change

In [4]:
name[0]="a"

TypeError: 'str' object does not support item assignment

#### string methods

#### str.islower()

In [5]:
name="python"
name.islower()

True

#### str.isupper()

In [6]:
name.isupper()

False

In [7]:
name="python programming"
name.islower()

True

In [8]:
name="Python"
name.islower()

False

####  create a function to check first and last characters of given string are capital or not

In [11]:
def FL(s):
    if s[0].isupper() and s[-1].isupper():
        return True
    else:
        return False
    
s="PythoN"
FL(s)

True

#### str.lower()
##### all string methods does not change the original string,just it returns how it will be after changing
#####  If we print name ,it gives original name only.

In [18]:
name="PYTHON"
print(name.lower())  #all string methods does not change the original string,just it returns how it will be after changing
print(name)          # If we print name ,it gives original name only.

python
PYTHON

#### str.upper()

In [20]:
name="python programming"
print(name.upper())
print(name)

PYTHON PROGRAMMING
python programming

#### str.isdigit()

In [24]:
num="12345"
print(num.isdigit())
num="123er34"
print(num.isdigit())

True
False

#### str.isalpha()

In [27]:
name="ramyAJyothi"
print(name.isalpha())

True

In [28]:
name="ramyA Jyothi"
print(name.isalpha())

False

In [29]:
name="ramyA123"
print(name.isalpha())

False

#### create a function which can identify number or alphabets or others

In [36]:
def identifyme(s):
    if s.isdigit():
        return "numbers"
    if s.isalpha():
        return "name"
    else:
        return "others"

print(identifyme("ramya"))
print(identifyme("1234"))
print(identifyme("sfsa122@"))

name
numbers
others

#### str.split()
split method return type -list

By default it splits at spaces

In [37]:
name="python programming"
print(name.split())

['python', 'programming']

In [38]:
print(name.split("g"))

['python pro', 'rammin', '']

In [43]:
print(name.split('o'))

['    pyth', 'n pr', 'gramming   ']

### str.lstrip()

In [39]:
name="    python programming  "
print("original length",len(name))
result=name.lstrip()
print(result,len(result))

original length 24
python programming   20

#### str.rstrip()

In [40]:
name="    python programming   "
print("original length",len(name))
result=name.rstrip()
print(result,len(result))

original length 25
    python programming 22

#### str.strip()

In [42]:
name="    python programming   "
print("original length",len(name))
result=name.strip()
print(result,len(result))

original length 25
python programming 18

##### Take the values from the user until user gives 0 and find and print the minimum and maximum and sum of numbers in given values
- example data
  - "sai"
  - 10
  - "ram"
  - "ra@"
  - 20
  - 5
  - 0

In [12]:
numbers=[]
while True:
    data=input()
    
    if data=='0':
        numbers.append(0)
        break
    if data.isdigit():
        numbers.append(int(data))
    if int(data)<0:
        numbers.append(int(data))
print(numbers)
print("minimum",min(numbers),"maximum",max(numbers),"sum",sum(numbers))

2
3
-4
0
[2, 3, -4, 0]
minimum -4 maximum 3 sum 1

#### str.startswith(sub_string)

In [9]:
name="Ramya jyothi"
print(name.startswith("Ram"))

True

#### str.endswith(sub_string)

In [11]:
name="Ramya"
print(name.endswith("ya"))

True

#### str.swapcase()
converts upper to lower and viceversa

In [12]:
name="Ramya Jyothi"
print(name.swapcase())

rAMYA jYOTHI

#### str.title()
It converts every word first letter to upper case,and if any uppercase letters in middle it converts to lowercase

In [14]:
name="python proGramming"
print(name.title())

Python Programming

#### str.istitle()
 check if the word is in title case or not

In [16]:
name='python Programming'
print(name.istitle())

False

#### str.join(sequence or collection of items)
list items should be in string type to join,
If we give other than string type it cannot join the items

In [24]:
myList=['r','a','m','y','a']
print(''.join(myList))
print('$'.join(myList))

ramya
r$a$m$y$a

In [28]:
name="r a m y a"
name=name.split()
print(''.join(name))

ramya

In [35]:
students=[('sai',"10,20,30,40"),('ramya',"30,40,50,60,80"),("yam","12,34,23")]
for student in students:
    sum=0
    for mark in student[1].split(","):
        sum+=int(mark)
    print(student[0],sum)

sai 100
ramya 260
yam 69

In [13]:
paragraph='xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"'
sentences=paragraph.split('"')
print(sentences)
for sentence in sentences:
    if len(sentence)>0:
        if sentence.endswith(' '):
            for word in sentence.split():
                print(word)
        else:
            print('"'+sentence+'"')

['xyz abc mnp ', 'asdf dfaa asdf', ' asd ', 'fdas asdsdaff', '']
xyz
abc
mnp
"asdf dfaa asdf"
asd
"fdas asdsdaff"

#### print the names that is not ending with i and u

In [50]:
names=['ayyappa','ramu','syam','lakshmi','rani']
for name in names:
    if not (name.endswith('i') or name.endswith('u')):
        print(name)

ayyappa
syam

In [53]:
names=['ayyappa','ramu','syam','lakshmi','rani']
for name in names:
    if (name.endswith('i') or name.endswith('u')):
        print(name)

ramu
lakshmi
rani

### String slicing

In [61]:
name="python programming"
res=name[7:]
res

'programming'

In [62]:
print(name[10:14])

gram

In [63]:
name[0:10:3]

'ph o'

In [64]:
name="python"
for char in name:
    print(char)

p
y
t
h
o
n

### Tuples
- Tuples are also immutable.
- It has two methods-index ,count

In [2]:
myTuple=(1,2,3,4,5,4)
print(len(myTuple))

6

In [111]:
print(myTuple[2])

3

### tuple.count(item)
It returns how many times item exists in a tuple,if item is not in tuple it returns 0

In [17]:
myTuple.count(4)

2

### tuple.index(item)
It returns index of the item,if item is not there in tuple it returns error

In [15]:
myTuple.index(4)

3

In [117]:
min(myTuple)
max(myTuple)

5

In [3]:
sum(myTuple)

19

In [82]:
mytuple=(1,2,3,1,2,3)
mytuple.index(2,3)

4

In [85]:
mytuple=(1,2,3,'4','5')
for each in mytuple:
    print(each,type(each))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'str'>
5 <class 'str'>

In [90]:
# sum of digits
rollno="13A85A0504"
sum=0
for i in rollno:
    if i.isdigit():
        sum+=int(i)
print(sum)

26

In [98]:
#reverse the string without ::-1
name=input()
for i in range(len(name)-1,-1,-1):
    print(name[i],end='')

jyothiramya
aymarihtoyj

In [106]:
 # print the names which has duplicate characters
    # "ramu ravi akash" -- akash
    # "ramu ravi" ---  -1
names=input().split()
for name in names:
    count=0
    for char in name:
        if name.count(char)>1:
            count+=1
    if count>=1:
        print(name)
if count==0:
        print("-1")

ramu ravi akash ramya
akash
ramya

In [107]:
s=input().split('+')
sum=0
for i in s:
    sum+=int(i)
print(sum)

1+2+3+4+5
15

In [9]:
name=input()
s,e=map(int,input().split())

if s==1:
    print(name[e-1::-1]+name[e:])
else:
    print(name[:s-1]+name[e-1:s-2:-1]+name[e:])

mahesh
2 5
msehah

In [11]:
n=int(input())
s=[]
for i in range(n):
    s.append(list(map(int,input().split())))
print(s)
x=[]
for i in s:
    x.append(i[0])
x=sorted(x)
ux=[]
for i in x:
    if i not in ux:
        ux.append(i)
for i in ux:
    if x.count(i)==1:
        for j in s:
            if j[0]==i:
                print(i,j[1])
    else:
        y=[]
        for j in s:
            if i==j[0]:
                y.append(j[1])
            y=sorted(y,reverse=True)
        for k in y:
            for j in s:
                if j[1]==k:
                    print(j[0],k)

5
1 2
1 3
2 6
3 7
2 8
[[1, 2], [1, 3], [2, 6], [3, 7], [2, 8]]
1 3
1 2
2 8
2 6
3 7

In [19]:
li=['accd','abcd','bcde']
li=sorted(li)
li

['abcd', 'accd', 'bcde']

In [8]:
def sevensegment(li):
    ns=[[0,6],[1,2],[2,5],[3,5],[4,4],[5,5],[6,6],[7,3],[8,7],[9,5]]
    dic={}
    for num in li:
        if num==0:
            dic[num]=6
        else:
            tot=0
            r=num
            while(num>0):
                i=num%10
                for j in ns:
                    if j[0]==i:
                        tot+=j[1]

                num=num//10
            dic[r]=tot
            
    print(dic)
    allvalues=list(dic.values())
    val=min(dic.values())
    if allvalues.count(val)==1:
        for item in dic.items():
            if item[1]==val:
                print(item[0])
    else:
        l=[]
        for item in dic.items():
            if item[1]==val:
                l.append(item[0])
        print(l[0])
    return
        
t=int(input())
for i in range(t):
    n=int(input())
    s=input().split()
    li=[]
    for i in range(n):
        li.append(int(s[i]))
    sevensegment(li)

1
5
12 13 14 8 0
{12: 7, 13: 7, 14: 6, 8: 7, 0: 6}
14

In [2]:
s="aaabbccc"
ns=''
for i in s:
    if i not in ns:
        ns+=i
for i in ns:
   print((s.count(i),i),end=' ')

(3, 'a') (2, 'b') (3, 'c')

In [3]:
li=[1,1,2,3,1]
li.count(1)

3

In [5]:
def camelcase(s,k):
    count=0
    for word in s:
        us=''
        for char in word:
            if char.isupper():
                us+=char
        if us.startswith(k):
            print(word)
            count+=1
    if count==0:
        print("No match found")

t=int(input())
for i in range(t):
    s=input().split()
    k=input()
    camelcase(s,k)

1
welf ramyaRttg werr
WRT
No match found