## Day objectives
- Combinations
- Set Data structure
    - Set operations
    - Use cases
- Functional programming
     - List comprehensions
     - Iterators
     - Generators
     - Maps
     - Lambda
     - Built in Functions
     - Use cases

In [4]:
# Function to print all combinations of pairs of integers in a unique list
# [1,2,3]-> (1,2),(1,3),(2,3) -> 3c2 ->  3!/((3-2)!*2!) -> 3
def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
combinations2([1,2,3,4])

1 2
1 3
1 4
2 3
2 4
3 4

In [13]:
# Function to print all combinations of 3 in a list
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
combinations3([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [74]:
#Function to identify differences of all pairs of numbers and add those differences to the same list
#It returns the updated list and original list
def medium(li,k):
    
    while(True):
        li3=differencepairs(li)
        
        if li3[0]==li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0])[-k]
    return -1


def differencepairs(li):
    cli=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    #return li
    return [cli,li]
#differencepairs([2,3,6,9,12,1, 4, 7, 10,5, 8, 11])
#medium([3,6,9,12],4)

[2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]

In [ ]:
#[4,8]
#[20,40,60]
#[4,8,12,16]
#[3,6,9,12]
# the list into an Arithmetic progression

#[3,8,15]
# [3,8,15,5,12,2,1,4,6,7,8,9,10,11,13,14]

with open("DataFiles/medium-input.txt",'r') as f:
    t=int(f.readline())
    for i in range(t):
        int(f.readline())
        li=f.readline().split()
        k=int(f.readline())
        print(medium(li,k))

In [ ]:
#list
# Data copy through indirect referencing
# data copy through direct handling

In [ ]:
def differenceOfPairs(li):
    c = 0
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                li.append(d)
                differenceOfPairs(li)
                c=c+1
                
    return li  
def kthLargestofDeiffrencePairs(li,k):
    li2 = differenceOfPairs(li)
    print(li2)
    li2 = sorted(li2,reverse = True)
    highest = li2[k-1]
    print(highest)
kthLargestofDeiffrencePairs([1,9],4)

### Set - Data Structure in python

Represented by {}

Set contain only unique elements

set object is not subscriptable ,we cannot access throug index

In [89]:
a={1,10,2,3,4,5,6,6,3,4}
a.add(7)  #adding a single element to a set

#a[1]
for i in a:
    print(i,end=' ') #Accessing elements in a set
    
    
b={7,8,9}
li=[11,12,13]   #we can also add through list or string
a.update(b,li)  #adding multiple elements to a set
a.discard(13)
#a.remove(15) # It gives an error if the element is not in list

a

1 2 3 4 5 6 7 10

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [103]:
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={111,123}
a.union(b)

# A U B = B U A

b.union(a)

a.intersection(b)  #

a.isdisjoint(c)   #Returns True when set a and c will have distinct elements

a-b   # All elements in a which are not in b
b-a   # All elements in b which are not in a
sorted(a)

a^b

{4, 5, 6, 7, 8, 9, 10}

In [104]:
d=set( ) #creeates an empty set
d

set()

In [106]:
li=[1,2,3,4,2,1,2,3,4]
u=set(li)
u

{1, 2, 3, 4}

## Functional programming

procedural : c
    
Object oriented : Java , python
    
Scripting : PHP,Python,Javascript,shell,perl
    
Functional : python,Haskel,Scala
    
Logic : prolog,Lisp

## List comprehensions

In this first element can be function calling or mathematical expression,but it cannot be assignments

In [107]:
# N natural numbers in a list
n=10
li=[]
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [109]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
# Apply list comprehension to store te cubes of n natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [114]:
# Function to calculate the m factorial
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
#factorial(5)

# Apply list comprehension to calculate factorial of n natural numbers
n=10
factoriallist=[factorial(i) for i in range(1,n+1)]
factoriallist

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [120]:
# store cumulative sum of numbers till n in a list
# n=3 , [1,3,6]
# n=5 , [1,3,6,10,15]

n=5
# first method
def cumulativesum(n):
    sum=(n*(n+1))//2
    return sum
#li=[cumulativesum(i) for i in range(1,n+1)]

# second method
li=[(i*(i+1)//2) for i in range(1,n+1)]
#li

#Third method
li=[sum(range(1,i+1)) for i in range(1,n+1)]
li

[1, 3, 6, 10, 15]

In [123]:
# Function to store only leapyears in a given time period
sty=1970
edy=2019
leapyears=[i for i in range(sty,edy+1) if i%400==0 or(i%100!=0 and i%4==0) ]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [1]:
li=[1,2,3,2,1,4,4,5,5,5]
li.sort()
unique=[]
u2=[]
unique=[li[i] for i in range(0,len(li)-1) if li[i]!=li[i+1]]
#u2.append(i) for in li if i not in u2
unique

[1, 2, 3, 4]

## Iterators

Iterable - Strings,lists,tuples,sets,dictionaries

Convert Iterable to Iterator -> iter()

for loop : we can not break until some condition is reached

Iterator : we can stop at anytime(There is a pause in iterable process)

In [154]:
it=iter("python")  
print('1:')
print(next(it))
print('\n')
print('2:')
print(next(it))

1:
p


2:
y

## Generator

Generator is a user defined function

yield is like a return

In [165]:
def generator():
    n=2
    for i in range(1,5):
        n**=3
        yield n
        
        
a=generator()
next(a)
next(a)

512

In [172]:
# For infinite loop

def generator():
    n=2
    while True:
        n**=3
        yield n
        
        
a=generator()
next(a)
b=next(a)**2
b*=next(a)
b

for i in range(5):
    print(next(a))

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208