# problem solving and programming in python
#### Date 12 june 2019
#### Day Objectives
- String Slicing
- Functions in python
- Basic problems related to conditional statements using functions
- Iteration in python
- Python Data structures -Lists,Tuples and Dictionaries
- operations on data structures
   - Applying Data structures to solve problems

### String Slicing

In [1]:
s1='python'
s1[0] #Accessing the first character in a string
s1[1] #Accessing the second character in a string
s1[len(s1)-1]  #Accessing the last character in a string
s1[-1]  #Another way of accessing the last character in a string
s1[-2]  #Accessing the penultimate character of a string
s1[0:2] #Accessing the first two characters of a string
s1[-2:] #Accessing the last two characters of a string
s1[4:]   #Accessing all characters 5th character to end of string
s1[1:-1]  #Accessing all characters except first and last characters
s1[len(s1)//2]  #Accessing middle character of odd length stirng, // is for integer division
s1[-1::-1]     #Reverse of a string
s1[-1:-3:-1]#Accessing last two characters in reverse order
s1[len(s1)//2:(len(s1)//2)-2:-1] #Reverse the middle two characters in an even length string
s1[::2]#Accessing alternate characters in a string
s1[::-2]#Accessing alternate characters in reverse order

'ytho'

## Functions in python

In [34]:
#Function to reverse a string
def reverseString(s):
    return s[::-1]
reverseString("python")

'nohtyp'

In [37]:
#Function to check if a string is a palindrome
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
palindrome("amma")

True

In [38]:
#function to check if a given year is a leap year
def isleapyear(year):
    if year%400==0 or(year%100!=0 and year%4==0):
        return True
    else:
        return False
isleapyear(2008)

True

In [39]:
#Function to count the number of digits in a given number
def countdigit(n):
    count=len(str(n))
    return count
countdigit(12345)

5

In [41]:
#Function to identify the greatest of 4 numbers
def greatest(a,b,c,d):
    if a>b and a>c and a>d:
        return a
    elif b>c and b>d:
        return b
    elif c>d:
        return c
    else:
        return d
greatest(23,43,234,56)

234

### Iteration in python
- for
- while

In [1]:
#Function to print n natural numbers
def nNaturalNumbers(n):
    for i in range(1,n+1):
        print(i,end=" ")
    return
nNaturalNumbers(10)

1 2 3 4 5 6 7 8 9 10

In [5]:
#Function to print the alternate values in a range in the same line
#[500,550] -> 500 502 504 .......550 ,square brackets represents inclusive set
#(500,550) -> 501 503 505 .......549,paranthesis represents exclusive set
#range(500,550) ->500 501 502.........549
#All set based functions in python have start value inclusive and end value is exclusive 
def alternatevalues(lb,ub):
    for i in range(lb,ub+1,2):
        print(i,end=" ")
        
    return
alternatevalues(500,525)

500 504 508 512 516 520 524

In [9]:
#Function to print reverse of given range in the same line
def reverserange(lb,ub):
    for i in range(ub,lb-1,-1):
        print(i,end=" ")
    return
reverserange(1,10)

10 9 8 7 6 5 4 3 2 1

In [12]:
#print odd numbers in reverse order in a range
def oddrange(lb,ub):
    for i in range(ub,lb-1,-1):
        if i%2!=0:
            print(i,end=" ")
    return
oddrange(123,130)

129 127 125 123

In [15]:
#Function to calculate the sum of numbers in a range
def sumRange(lb,ub):
    sum=0
    for i in range(lb,ub+1):
        sum=sum+i
    return sum
sumRange(100,200)

15150

In [20]:
#Function to calculate the average of a given range
def avgRange(lb,ub):
    sum=0
    count=0
    for i in range(lb,ub+1):
        sum=sum+i
        count=count+1
    avg=sum/count
    return avg
avgRange(1,5)

3.0

In [22]:
#Function to calculate the average by using sumRange function
def avgrange(lb,ub):
    sum=sumRange(lb,ub)
    count=(ub-lb)+1
    avg=sum/count
    return avg
avgrange(1,5)

3.0

In [30]:
#Function to generate all leap years in a given time period
#2000-2020 ->2000 2004 2008 2012 2016 2020
def isleapyear(year):
    if year%400==0 or(year%100!=0 and year%4==0):
        return True
    else:
        return False
isleapyear(2000)

def generateleapyears(sy,ey):
    for i in range(sy,ey+1):
        if isleapyear(i):
            print(i,end=" ")
    return
generateleapyears(1919,2010)

1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008

In [16]:
#Function to calculate number of days in a given timeperiod
def isleapyear(year):
    if year%400==0 or(year%100!=0 and year%4==0):
        return True
    else:
        return False
    
def no_of_days(sy,ey):
    days=0
    for i in range(sy,ey+1):
        if isleapyear(i):
            days+=366
        else:
            days+=365
    return days
no_of_days(2018,2018)

365

In [25]:
#Function to calculate number of hours for a given period in the format(month1,year1,month2,year2)
#(11,1975,03,1999) ->
#(5,2019,6,2019)  ->
#(2,2016,6,2019)
# (all days from feb 2016 to dec 2016,all days for years between start and end,all days from jan to june 2019)
#no of  hours=24*no of days
# 3 steps
    #1.start month  year to end of the year-calculate no of days
    #2.calculate days for all years between start year and end year exclusive
         # 2017,2018 - 365*no of years
    #3.calculate days from jan to end month year
#Excluding Feb
# for first 6 months- 1,3,4,5,6,7
                     #all odd months have 31 days
                    # all even months have 30 days
#last six months  -8,9,10,11,12
                    #all even months have 31 days
                    #all odd months have 30 days
#31 days - (month<=7 and month %2!=0 and month!=2)|| (month >=8 and month%2==0)
           #return 31
       #else
              #return 30

            
# It is done by me  
def isleapyear(year):
    if year%400==0 or(year%100!=0 and year%4==0):
        return True
    else:
        return False
    
def numberofdaysmonth(month):
    if (month<=7 and month%2!=0 and month!=2) or (month>=8 and month%2==0):
        return 31
    elif(month<=7 and month%2==0 and month!=2) or (month>=8 and month%2!=0):
        return 30
    else:
        return 0
#numberofdaysmonth(9)

def step1(m1,y1):
    x=isleapyear(y1)
    if x==True and m1<=2:
        d1=29
    elif x==False and m1<=2:
        d1=28
    else:
        d1=0
    for i in range(m1,13):
        d1+=numberofdaysmonth(i)
    return d1
#step1(2,2008)

def step2(m2,y2):
    if isleapyear(y2):
        d2=29
    else:
        d2=28
    for i in range(1,m2+1):
        d2+=numberofdaysmonth(i)
    return d2
#step1(2,2008)
    

def no_of_hours(m1,y1,m2,y2):
    days=no_of_days(y1+1,y2-1)
    d1=step1(m1,y1)
    d2=step2(m2,y2)
    no_of_hours=(days+d1+d2)*24
    return no_of_hours
no_of_hours(6,2018,7,2018)

10224

In [24]:
def isleapyear(year):
    if year%400==0 or(year%100!=0 and year%4==0):
        return True
    else:
        return False
    
def numberofdaysmonth(month,year):
    if month==2:
        if isleapyear(year):
            return 29
        else:
            return 28
    elif (month<=7 and month%2!=0) or (month>=8 and month%2==0):
        return 31
    else:
        return 30
    
def daysInStartYear(startmonth,startyear):
    days=0
    for month in range(startmonth,13):
        days+=numberofdaysmonth(month,startyear)
    return days
#daysInStartYear(6,2019)


def daysInEndYear(endmonth,endyear):
    days=0
    for month in range(1,endmonth+1):
        days+=numberofdaysmonth(month,endyear)
    return days
#daysInEndYear(2,2020)  

def numberofhours(startmonth,startyear,endmonth,endyear):
    days=0
    days+=daysInStartYear(startmonth,startyear)
    days+=daysInEndYear(endmonth,endyear)
    if endyear-startyear==2:
        days+=no_of_days(startyear+1,endyear+1)
    elif endyear-startyear>2:
        days+=no_of_days(startyear+1,endyear-1)
    else:
        for month in range(startmonth,endmonth+1):
            days+=numberofdaysmonth(month,startyear)
    return days*24
numberofhours(6,2018,7,2018)

11688

In [1]:
#Function to print n natural numbers using while loop
def nNaturalnumbers(n):
    counter=1
    while counter<=n:
        print(counter,end=" ")
        counter=counter+1
    return
nNaturalnumbers(10)

1 2 3 4 5 6 7 8 9 10

In [2]:
#Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb,ub) inclusive
def factor(lb,ub):
    for i in range(lb,ub+1):
        if i%6==0 and 100%i!=0:
            print(i,end=" ")
            i=i+1
factor(10,100)

12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [17]:
#Function to find the average of cubes of all even numbers in a given range(lb,ub) inclusive
def avgofcubes(lb,ub):
    sum=0
    count=0
    for i in range(lb,ub+1):
        if i%2==0:
            sum=sum+(i**3)
            count=count+1
    avg=sum/count
    print(sum)
    print(count)
    return avg
    
avgofcubes(1,10)

1800
5

360.0

In [1]:
#Function to generate the list  of factors for a given number
#12 ->1,2,3,4,6,12
def factors(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
factors(12)

1 2 3 4 6 12

In [21]:
#Function to calculate the factorial of a given number
def factorial(n):
    fact=1
    while n>1:
        fact=fact*n
        n=n-1
    return fact
factorial(10)

3628800

In [28]:
#function to check if a given number is prime
def isprime(n):
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count=count+1
    if count==2:
        return True
    else:
        return False
isprime(1)

False

In [40]:
#function to calculate the avg of first N prime numbers
def avgofprime(n):
    sum=0
    count=0
    for i in range(1,n+1):
        x=isprime(i)
        if x==True:
            sum=sum+i
            count=count+1
    print(sum)
    print(count)
    avg=sum/count
    return avg
avgofprime(5)

10
3

3.3333333333333335

In [42]:
#Function to generate all perfect numbers in a given range
def factors_sum(i):
    sum=0
    for j in range(1,i):
        if i%j == 0:
            sum+=j
    return sum        
def perfect(lb,ub):
    sum=0
    for i in range(lb,ub):
        x=factors_sum(i)
        if i == x:
            print(i,end=" ")
    return 
perfect(1,1000)

6 28 496

## Advanced Problem set

In [44]:
#Function to calculate average of all factorials in a given range
def avg_of_factorial(s,e):
    sum=0
    count=(e-s)+1
    for i in range(s,e+1):
        sum+=factorial(i)
    print(sum)
    avg=sum/count
    return avg
avg_of_factorial(1,5)

153

30.6

In [2]:
#Function to generate  odd armstrong numbers in the given range
def isarmstrong(n):
    sum=0
    n1=n
    l=len(str(n))
    while(n>0):
        r=n%10
        sum=sum+r**l
        n=n//10
    if sum==n1:
        return True
    else:
        return False
#isarmstrong(153)

def odd_armstrongnumbers_in_range(n):
    for i in range(1,n+1):
        if isarmstrong(i):
            if i%2!=0:
                print(i,end=" ")
            
    return
odd_armstrongnumbers_in_range(200)

1 3 5 7 9 153

In [ ]:
#function

In [4]:
#Function to generate Multiplication table for a number in a given range
#10 in the range(100,102)inclusive
#10x100=1000
#10x101=1010
#10x102=1020

def multable(n,lb,ub):
    for i in range(lb,ub+1):
        print(n,"x",i,"=",n*i)
    return
multable(10,100,110)

10 x 100 = 1000
10 x 101 = 1010
10 x 102 = 1020
10 x 103 = 1030
10 x 104 = 1040
10 x 105 = 1050
10 x 106 = 1060
10 x 107 = 1070
10 x 108 = 1080
10 x 109 = 1090
10 x 110 = 1100